.body {
    @font-face {
    font-family: Futura;
    src: url("Futura_Medium.woff") format("WOFF");
    font-weight: normal;
    }
    span {
    font-family: Futura;
    }
}

img.resize {
    max-width:50%;
    max-height:50%;
  }